/* Global settings. */
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.hidden {
    display: none !important;
}
.gutter {
    height: 100vh;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.nice_button {
    border-radius: 4px;
    background-color: #5C646A;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    margin: 4px 0;
}
.nice_button:hover {
    background-color: #5A6268;
}

/* Drag and drop (upload) screen. */
#drop_screen {
    padding: 30px;
}
#drop_screen h1 {
    text-align: center;
    font-size: 48pt;
    font-weight: 100;
}
#drop_zone {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    border: 2px dashed #BBBBBB;
    border-radius: 2px;
    background-color: #EEEEEE;
    color: #BBBBBB;
    font-size: 24pt;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#drop_zone.hover {
    border-color: #00E676;
}
#drop_instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cassette_icon img {
    max-width: 100px;
    padding-top: 1em;
    padding-right: 1em;
}
#drop_instructions p {
    text-align: left;
}
#drop_upload {
}
#drop_progress {
    margin: 1em auto;
}
#test_files {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 2em;
    font-size: 18px;
}
#test_files > * {
    margin: 10px;
}
#test_files .nice_button {
    font-size: 18px;
}
#about {
    text-align: center;
    color: #aaa;
    width: 50%;
    margin: 2em auto;
}
#about a {
    color: #aaa;
}

/* Data (main) screen. */
#data_screen {
    display: flex;
    width: 100%;
    height: 100%;
}
#data_screen > nav {
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0.5em;
}
.tape_contents_row {
    cursor: default;
    white-space: pre;
    font-weight: bold;
    padding: 3px 0;
}
.tape_contents_row.selectable_row {
    font-weight: normal;
}
.tape_contents_row.selectable_row:hover {
    background-color: #EEEEEE;
}
.tape_contents_row.selected,
.tape_contents_row.selected.selectable_row:hover {
    background-color: #AAAAAA;
    color: white;
}
#data_screen > main {
    display: flex;
    flex-direction: column;
}
#top_data {
    /*
     * This sets this element to not be affected by children. Children can then absolutely position
     * relative to this one, force their size to match exactly, and overflow with scrollbars.
     */
    position: relative;
}
#waveforms {
    overflow-x: auto;
    overflow-y: scroll;
    padding: 1em;
}
.pane {
    padding: 10px 20px;
    position: absolute;
    overflow-x: auto;
    overflow-y: scroll;
    /*
     * Force our size and position to be exactly equal to the nearest "position: relative"
     * ancestor, which then allows us to overflow without affecting our parents' sizes.
     */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.metadata h1 {
    font-weight: 100;
}
.metadata .key {
    font-weight: bold;
    padding-right: 2em;
}
.metadata .value {
    padding: 4px 8px;
}
.metadata .value.clickable {
    cursor: pointer;
    color: #0000EE;
}
.metadata .value.clickable:hover {
    background-color: #EEEEEE;
}
.program {
    font-family: monospace;
    background-color: #1E1E1E;
    color: #D4D4D4;
    white-space: pre;
}
.binary .address {
    color: #858585;
}
.binary .hex {
    color: #D4D4D4;
}
.binary .ascii {
    color: #D4D4D4;
}
.binary .ascii-unprintable {
    color: #858585;
}
.program .error {
    color: #aa0000;
}
.program .line_number {
    color: #858585;
}
.program .punctuation {
    color: #D4D4D4;
}
.program .keyword {
    color: #C586C0;
}
.program .regular {
    color: #9CDCFE;
}
.program .string {
    color: #CE9178;
}
.program .comment {
    color: #6A9955;
}
