/* Global settings. */
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.hidden {
    display: none !important;
}
.gutter {
    cursor: col-resize;
    height: 100vh;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

/* Drag and drop (upload) screen. */
#drop_screen {
    padding: 30px;
}
#drop_screen h1 {
    text-align: center;
    font-size: 48pt;
    font-weight: 100;
}
#drop_zone {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    border: 2px dashed #BBBBBB;
    border-radius: 2px;
    background-color: #EEEEEE;
    color: #BBBBBB;
    font-size: 24pt;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
#drop_zone.hover {
    border-color: #00E676;
}
#drop_instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cassette_icon img {
    max-width: 100px;
    padding-top: 1em;
    padding-right: 1em;
}
#drop_instructions p {
    text-align: left;
}
#drop_upload {
}
#drop_progress {
    margin: 1em auto;
}
#test_files {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 2em;
    font-size: 18px;
}
#test_files > * {
    margin: 10px;
}
#test_files button {
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    background-color: #EEEEEE;
    padding: 5px 10px;
    font-size: 18px;
}
#test_files button:hover {
    background-color: #E4E4E4;
}
#about {
    text-align: center;
    color: #aaa;
    width: 50%;
    margin: 2em auto;
}
#about a {
    color: #aaa;
}

/* Data (main) screen. */
#data_screen {
    display: flex;
    width: 100%;
    height: 100%;
}
#data_screen > nav {
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0.5em;
}
.tape_contents_row {
    cursor: default;
    white-space: pre;
    font-weight: bold;
}
.tape_contents_row.selectable_row {
    font-weight: normal;
}
.tape_contents_row.selectable_row:hover {
    background-color: #eee;
}
#data_screen > main {
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 1em;
}
#program_text {
    font-family: monospace;
    background-color: #1E1E1E;
    color: #D4D4D4;
    white-space: pre;
    padding: 10px 20px;
}
#program_text.binary .address {
    color: #858585;
}
#program_text.binary .hex {
    color: #D4D4D4;
}
#program_text.binary .ascii {
    color: #D4D4D4;
}
#program_text.binary .ascii-unprintable {
    color: #858585;
}
#program_text.basic,
#program_text.edtasm {
    display: pre;
}
#program_text.basic .error,
#program_text.edtasm .error {
    color: #aa0000;
}
#program_text.basic .line_number,
#program_text.edtasm .line_number {
    color: #858585;
}
#program_text.basic .punctuation {
    color: #D4D4D4;
}
#program_text.basic .keyword {
    color: #C586C0;
}
#program_text.basic .regular {
    color: #9CDCFE;
}
#program_text.basic .string {
    color: #CE9178;
}
#program_text.basic .comment {
    color: #6A9955;
}
