
body {
    font-family: sans-serif;
}
#drop_screen {
    display: block;
}
#data_screen {
    display: none;
}
.data_container {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}
.data_container nav {
    grid-area: nav;
}
.tape_contents_row {
    cursor: default;
    white-space: pre;
}
.tape_contents_row.selectable_row:hover {
    background-color: #eee;
}
.data_container main {
    grid-area: main;
}
#drop_zone {
    padding: 2em 3em;
    border: 2px solid red;
    font-size: 24pt;
    text-align: center;
}
#drop_browse {
    /* No longer used. */
    padding: 0.5em 1em;
    font-size: 14pt;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background-color: #eee;
    box-shadow:
        rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0px 3px 14px 2px,
        rgba(0, 0, 0, 0.20) 0px 5px 5px -3px;
    cursor: pointer;
}
#drop_progress {
    display: none;
    margin: 1em auto;
}
#test_files {
    margin-top: 2em;
    font-size: 18px;
}
#test_files button {
    display: block;
    margin: 10px auto;
}
.hover {
    background-color: #fee;
}
#program_text {
    font-family: monospace;
    background-color: #1E1E1E;
    color: #D4D4D4;
    white-space: pre;
    display: none;
    padding: 10px 20px;
}
#program_text.binary .address {
    color: #858585;
}
#program_text.binary .hex {
    color: #D4D4D4;
}
#program_text.binary .ascii {
    color: #D4D4D4;
}
#program_text.binary .ascii-unprintable {
    color: #858585;
}
#program_text.basic {
    display: pre;
}
#program_text.basic .error {
    color: #aa0000;
}
#program_text.basic .line_number {
    color: #858585;
}
#program_text.basic .punctuation {
    color: #D4D4D4;
}
#program_text.basic .keyword {
    color: #C586C0;
}
#program_text.basic .regular {
    color: #9CDCFE;
}
#program_text.basic .string {
    color: #CE9178;
}
#program_text.basic .comment {
    color: #6A9955;
}
