/* Global settings. */
:root {
    /* Solarized colors */
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    /* Horizontal margin for screens that are open. */
    --horiz-margin: 80px;

    /* How long buttons colors/borders take to transition on hover. */
    --button-transition-time: 0.1s;
}
.light-mode {
    --background: var(--base3);
    --background-highlights: var(--base2);
    --foreground: var(--base00);
    --foreground-emphasized: var(--base01);
    --foreground-secondary: var(--base1);
    --accent-color: var(--red);
    --accent-foreground-color: var(--base3);
}
.dark-mode {
    --background: var(--base03);
    --background-highlights: var(--base02);
    --foreground: var(--base0);
    --foreground-emphasized: var(--base1);
    --foreground-secondary: var(--base01);
    --accent-color: var(--red);
    --accent-foreground-color: var(--base3);
}

* {
    /* For theme changes. */
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    height: 100vh;
}

body, input, textarea {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

/* Our own overrides for the material design icons. */
.material-icons-override {
    color: var(--foreground-secondary);
    transition: color var(--button-transition-time) ease-in-out;
}

.screen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

.main-computer-screen {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------------------------------------------------------------------------------------- */

/* TODO rename these to .icon-button */
.icon-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--foreground-secondary);
    transition: border var(--button-transition-time) ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button:hover {
    /* Nothing. */
    border: 1px solid var(--foreground-emphasized);
}

.icon-button:hover .material-icons-override {
    color: var(--foreground-emphasized);
}

/* ----------------------------------------------------------------------------------------------------- */

.navbar {
    height: 50px;
    background-color: var(--background-highlights);
    padding: 3px 20px;
    font-size: 20pt;
    font-weight: 100;
    color: var(--accent-color);

    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 15px;
    align-items: center;
}

/* ----------------------------------------------------------------------------------------------------- */

.panel-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden hidden;

    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: opacity .20s ease-in-out, visibility .20s ease-in-out;
}

.panel-shown {
    opacity: 1;
    visibility: visible;
}

.panel-positioning {
    position: absolute;
    left: 50px;
    top: 50px;
    right: 50px;
    bottom: 50px;

    overflow: visible visible;
}

.panel {
    --side-padding: 20px;

    /* Start off-screen */
    position: absolute;
    left: 100vw;
    top: 0;
    right: -100vw;
    bottom: 0;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out;

    border-radius: 10px;

    background-color: var(--background);
    color: var(--foreground);

    display: flex;
    flex-flow: column nowrap;
}

.panel h1 {
    border-bottom: 1px solid var(--background-highlights);
    padding: var(--side-padding) var(--side-padding) 10px var(--side-padding);
    margin: 0;
    font-size: 28pt;
    font-weight: 100;
    color: var(--accent-color);

    display: grid;
    align-items: center;
    gap: 20px;
    /* Set grid pattern in panel-specific rule. */
}

.panel .action-bar {
    border-top: 1px solid var(--background-highlights);
    padding: var(--side-padding);
    margin: 0;
    background-color: var(--background-highlights);

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.panel .action-bar button {
    border: 1px solid var(--foreground-secondary);
    padding: 4px 13px;
    margin-left: 10px;
    background-color: var(--background-highlights);
    color: var(--foreground-secondary);
    border-radius: 999px;
    cursor: pointer;

    transition: border-color var(--button-transition-time) ease-in-out,
        color var(--button-transition-time) ease-in-out,
        opacity var(--button-transition-time) ease-in-out;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.panel .action-bar button:hover:not(:disabled) {
    border-color: var(--foreground-emphasized);
    color: var(--foreground-emphasized);
}

.panel .action-bar button:focus,
.panel .action-bar button:active {
    outline: 0;
}

.panel .action-bar button:disabled {
    opacity: 0.3;
    cursor: default;
}

.panel .action-bar button i {
    margin-left: 6px;
}

.panel .action-bar button:first-of-type {
    margin-left: 0;
}

/* ----------------------------------------------------------------------------------------------------- */

.library-panel h1 {
    grid-template-columns: 1fr auto;
}

.library-panel .program {
    padding: 10px var(--side-padding);
    border-bottom: 1px solid var(--background-highlights);
    cursor: default;

    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 10px;
}

.library-panel .program .name {
    font-weight: 800;
    color: var(--accent-color);
}

.library-panel .program .filename {
    font-family: "Roboto Mono", monospace;
    white-space: pre;
}

.library-panel .program .note {
    font-size: 80%;
    margin-top: 5px;
    color: var(--foreground-secondary);
}

/* ----------------------------------------------------------------------------------------------------- */

.file-panel h1 {
    grid-template-columns: auto 1fr auto;
}

.file-panel-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    column-gap: 20px;
    row-gap: 20px;

    flex-grow: 1;
    overflow-y: hidden;

    padding: var(--side-padding);
}

.file-panel-form > * {
    xbackground-color: #ECC;
}

.file-panel-form label {
    display: block;
    color: var(--foreground-secondary);
    font-size: 80%;
}

.file-panel-form input,
.file-panel-form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    color: var(--foreground-emphasized);
    background-color: var(--background-highlights);
    border: none;
    border-radius: 3px;
}

.file-panel-form input:disabled,
.file-panel-form textarea:disabled {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.file-panel-form .screenshots {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    overflow-y: auto;
}

.file-panel-form .screenshots::-webkit-scrollbar {
    width: 8px;
}

.file-panel-form .screenshots::-webkit-scrollbar-track {
    /* Nothing. */
}

.file-panel-form .screenshots::-webkit-scrollbar-thumb {
    background: var(--background-highlights);
    border-radius: 999px;
}

.file-panel-form .screenshots::-webkit-scrollbar-thumb:hover {
    /* Nothing */
}

.file-panel-form .filename input {
    /* TODO makes the input field slightly taller than the non-mono ones */
    font-family: "Roboto Mono", monospace;
}

.file-panel-form .note {
    grid-column-end: span 2;
}

.file-panel-form .misc {
    grid-column-end: span 2;
}

.action-bar .save-button.saving i:nth-of-type(1),
.action-bar .save-button.saving i:nth-of-type(3) {
    display: none;
}

.action-bar .save-button.success i:nth-of-type(1),
.action-bar .save-button.success i:nth-of-type(2) {
    display: none;
}

.action-bar .save-button:not(.saving):not(.success) i:nth-of-type(2),
.action-bar .save-button:not(.saving):not(.success) i:nth-of-type(3) {
    display: none;
}

.action-bar .save-button i:nth-of-type(2) {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.action-bar .save-button i:nth-of-type(3) {
    color: var(--green);
}

.panel .action-bar button.save-button.saving:disabled {
    opacity: 1;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
