/* Global settings. */
:root {
    /* Solarized colors */
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    /* Horizontal margin for screens that are open. */
    --horiz-margin: 80px;

    /* How long buttons colors/borders take to transition on hover. */
    --button-transition-time: 0.1s;

    /* Height of buttons */
    --button-height: 32px;
}
.light-mode {
    --background: var(--base3);
    --background-highlights: var(--base2);
    --foreground: var(--base00);
    --foreground-emphasized: var(--base01);
    --foreground-secondary: var(--base1);
    --accent-color: var(--red);
    --accent-foreground-color: var(--base3);
}
.dark-mode {
    --background: var(--base03);
    --background-highlights: var(--base02);
    --foreground: var(--base0);
    --foreground-emphasized: var(--base1);
    --foreground-secondary: var(--base01);
    --accent-color: var(--cyan);
    --accent-foreground-color: var(--base3);
}

* {
    /* For theme changes. */
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    height: 100vh;
}

body, input, textarea {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

/* Our own overrides for the material design icons. */
.material-icons-override {
    color: var(--foreground-secondary);
    transition: color var(--button-transition-time) ease-in-out;
}

.hidden {
    display: none !important;
}

.main-computer-screen {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

i.material-icons-round {
    user-select: none;
}

/* ----------------------------------------------------------------------------------------------------- */

.navbar {
    height: 50px;
    background-color: var(--background-highlights);
    padding: 3px 20px;
    font-size: 20pt;
    font-weight: 100;
    color: var(--accent-color);

    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 15px;
    align-items: center;
}

body.signed-in .navbar .sign-in-button {
    display: none;
}

body.signed-out .navbar .sign-out-button {
    display: none;
}

/* ----------------------------------------------------------------------------------------------------- */

button {
    border: 1px solid var(--foreground-secondary);
    background-color: transparent;
    color: var(--foreground-secondary);
    border-radius: 999px;
    cursor: pointer;

    transition: border var(--button-transition-time) ease-in-out,
    color var(--button-transition-time) ease-in-out,
    opacity var(--button-transition-time) ease-in-out;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

button:hover:not(:disabled) {
    border-color: var(--foreground-emphasized);
    color: var(--foreground-emphasized);
}

button:focus,
button:active {
    outline: 0;
}

button:disabled {
    opacity: 0.3;
    cursor: default;
}

button.text-button {
    padding: 4px 13px;
    min-height: var(--button-height);
    font-size: 13px;
}

button.icon-button {
    width: var(--button-height);
    height: var(--button-height);
    padding: 0;
    border-radius: 50%;
}

.icon-button:hover:not(:disabled) .material-icons-override {
    color: var(--foreground-emphasized);
}

/* ----------------------------------------------------------------------------------------------------- */

.panel-background,
.dialog-box-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden hidden;

    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: opacity .20s ease-in-out, visibility .20s ease-in-out;
}

.dialog-box-background {
    z-index: 20;
}

.panel-background.panel-shown,
.dialog-box-background.dialog-box-shown {
    opacity: 1;
    visibility: visible;
}

.panel-positioning {
    position: absolute;
    left: 50px;
    top: 50px;
    right: 50px;
    bottom: 50px;

    overflow: visible visible;
}

.panel {
    --side-padding: 20px;

    /* Start off-screen */
    position: absolute;
    left: 100vw;
    top: 100vh;
    right: -100vw;
    bottom: -100vh;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out;

    /* So that backgrounds of nested divs don't mess with our rounded corners. */
    overflow: hidden;

    border-radius: 10px;

    background-color: var(--background-highlights);
    color: var(--foreground);

    display: grid;
    grid-template-rows: auto minmax(0, 1fr); /* h1 and panel-content */
}

.panel-background.panel-shown .panel {
    top: 0;
    bottom: 0;
}

.panel h1 {
    padding: var(--side-padding) var(--side-padding) 10px var(--side-padding);
    margin: 0;
    font-size: 28pt;
    font-weight: 100;
    color: var(--accent-color);

    display: grid;
    align-items: center;
    gap: 10px;
    /* Set grid pattern in panel-specific rule. */
}

.panel h1 > div + span {
    /* More space between back button and header text. */
    padding-left: 10px;
}

/* Make scrollbars blend in better. */
.panel ::-webkit-scrollbar {
    width: 8px;
}

.panel ::-webkit-scrollbar-thumb {
    background: var(--background-highlights);
    border-radius: 999px;
}

.panel .action-bar {
    padding: var(--side-padding);
    margin: 0;
    min-height: 34px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.dialog-box-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-box-background .dialog-box-frame {
    --side-padding: 20px;

    border-radius: 10px;
    overflow: hidden;
    background-color: var(--background);
    color: var(--foreground);

    display: grid;
    grid-template-rows: auto minmax(0, 1fr); /* h1 and content */

    position: relative;
    top: 100vh;
    transition: top 0.2s ease-in-out;
}

.dialog-box-background.dialog-box-shown .dialog-box-frame {
    top: 0;
}

.dialog-box-background .dialog-box-frame h1 {
    padding: 10px;
    margin: 0;
    font-size: 28pt;
    font-weight: 100;
    background-color: var(--background-highlights);
    color: var(--accent-color);
    text-align: center;
}

.dialog-box-background .dialog-box-frame .dialog-box-content-frame {
    margin: 20px;
}

/* ----------------------------------------------------------------------------------------------------- */

.page-tabs-container {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr); /* page-tabs and tab-content */
}

.page-tabs {
    padding: 5px var(--side-padding) 0 var(--side-padding);

    display: flex;
    flex-flow: row nowrap;
}

.page-tabs > div {
    box-sizing: border-box;
    padding: 9px 20px 7px 20px;
    cursor: pointer;
}

.page-tabs > div.page-tab-active {
    background-color: var(--background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
}

/* ----------------------------------------------------------------------------------------------------- */

.library-panel h1 {
    grid-template-columns: 1fr auto auto;
}

/* ----------------------------------------------------------------------------------------------------- */

.your-files-tab {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto; /* content (files or empty-library) and action-bar */
}

.your-files-tab .files {
    background-color: var(--background);

    overflow: auto;
}

.your-files-tab .file {
    padding: 10px var(--side-padding);
    border-bottom: 1px solid var(--background-highlights);
    cursor: default;

    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap: 10px;
}

.your-files-tab .file .name {
    font-weight: 800;
    color: var(--accent-color);
}

.your-files-tab .file .filename {
    font-family: "Roboto Mono", monospace;
    white-space: pre;
}

.your-files-tab .file .note {
    font-size: 80%;
    margin-top: 5px;
    color: var(--foreground-secondary);
    overflow: hidden;
    text-overflow: ellipsis;

    /* Max two lines. */
    line-height: 1.3;
    max-height: 2.6em;

    /* Put ellipsis at end of second line. This appears to be webkit-only, but seems to work on Firefox too. */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.your-files-tab .file .screenshots {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.your-files-tab .file .screenshots > * {
    /* TODO can replace this with grid */
    border-radius: 5px;
    max-width: 75px;
    margin-left: 10px;
}

.your-files-tab .file .screenshots > *:first-child {
    margin-left: 0;
}

.your-files-tab .empty-library {
    background-color: var(--background);
    padding: var(--side-padding);
    overflow: hidden;

    display: grid;
    grid:
        "...... demon" 1fr
        "header demon" auto
        "...... demon" 50px
        " body  demon" auto
        "...... demon" 2fr /
         4fr    3fr;
    column-gap: 40px;
}

.your-files-tab .empty-library h2 {
    grid-area: header;
    margin: 0;
    font-size: 20pt;
    font-weight: 100;
    color: var(--accent-color);
    text-align: right;
}

.your-files-tab .empty-library article {
    grid-area: body;
    margin: 0;
    font-size: 14pt;
    font-weight: normal;
    color: var(--foreground);
    text-align: right;
}

.your-files-tab .empty-library img {
    grid-area: demon;
}

.your-files-tab .empty-library article code {
    font-family: "Roboto Mono", monospace;
    color: var(--blue);
}

/* ----------------------------------------------------------------------------------------------------- */

.retro-store-tab {
    display: grid;
    grid-template-rows: minmax(0, 1fr); /* contents */
}

.retro-store-tab .retro-store-apps {
    background-color: var(--background);
    overflow: auto;
    padding: var(--side-padding);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--side-padding);
}

.retro-store-tab .retro-store-app {
    cursor: default;
}

.retro-store-tab .retro-store-app .screenshot {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 8px;
}

.retro-store-tab .retro-store-app .button-set {
    margin: 10px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    justify-content: left;
}

.retro-store-tab .retro-store-app .name {
    font-weight: 800;
    color: var(--accent-color);
    margin-bottom: 3px;
}

.retro-store-tab .retro-store-app .version {
    font-weight: 100;
    color: var(--foreground);
    font-size: 80%;
}

.retro-store-tab .retro-store-app .release-year {
    font-weight: 100;
    color: var(--foreground);
    font-size: 80%;
    margin-left: 3px;
}

.retro-store-tab .retro-store-app .description {
    font-size: 80%;
    margin-top: 5px;
    color: var(--foreground-secondary);
}

.signed-out .retro-store-app .import-button {
    display: none;
}

/* ----------------------------------------------------------------------------------------------------- */

.file-panel h1 {
    grid-template-columns: auto 1fr auto;
}

.file-info-tab {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto; /* contents and action-bar */
}

.file-panel-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto 1fr;
    column-gap: 20px;
    row-gap: 20px;
    background-color: var(--background);

    flex-grow: 1;
    overflow-y: hidden;

    padding: var(--side-padding);
}

.file-panel-form > * {
    /* TODO delete */
    xbackground-color: #ECC;
}

.file-panel-form label {
    display: block;
    color: var(--foreground-secondary);
    font-size: 80%;
}

.file-panel-form input,
.file-panel-form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    color: var(--foreground-emphasized);
    background-color: var(--background-highlights);
    border: none;
    border-radius: 3px;
}

.file-panel-form input:disabled,
.file-panel-form textarea:disabled {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.file-panel-form .screenshots {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
}

.file-panel-form .filename input {
    /* TODO makes the input field slightly taller than the non-mono ones */
    font-family: "Roboto Mono", monospace;
}

.file-panel-form .note {
    grid-column-end: span 2;
}

.file-panel-form .misc {
    grid-column-end: span 2;
}

.file-panel-form .shared input {
    display: none;
}

.file-panel-form .shared i {
    font-size: 36px;
    display: block;
}

.file-panel-form .shared i.on-state {
    color: var(--blue);
}

.file-panel-form .shared input:checked ~ i.off-state {
    display: none;
}

.file-panel-form .shared input:not(:checked) ~ i.on-state {
    display: none;
}

.file-panel-form .screenshots .screenshot {
    width: 100%;
    position: relative;
}

.file-panel-form .screenshots .screenshot:not(:first-child) {
    margin-top: 10px;
}

.file-panel-form .screenshots .screenshot img {
    width: 100%;
}

.file-panel-form .screenshots .screenshot .icon-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

.file-panel-form .screenshots .screenshot:hover .icon-button {
    opacity: 1;
    visibility: visible;
}

.file-panel-form .screenshots .screenshot:hover .icon-button:hover i {
    color: var(--red);
}

.action-bar .save-button.saving i:nth-of-type(1),
.action-bar .save-button.saving i:nth-of-type(3) {
    display: none;
}

.action-bar .save-button.success i:nth-of-type(1),
.action-bar .save-button.success i:nth-of-type(2) {
    display: none;
}

.action-bar .save-button:not(.saving):not(.success) i:nth-of-type(2),
.action-bar .save-button:not(.saving):not(.success) i:nth-of-type(3) {
    display: none;
}

.action-bar .save-button i:nth-of-type(2) {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.action-bar .save-button i:nth-of-type(3) {
    color: var(--green);
}

.panel .action-bar button.save-button.saving:disabled {
    opacity: 1;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* ----------------------------------------------------------------------------------------------------- */

.hexdump-tab {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto; /* contents and action-bar */
}

.hexdump-tab .action-bar {
    justify-content: flex-start;
    gap: 20px;
}

.hexdump-outer {
    background-color: var(--background);
    padding: var(--side-padding);

    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.hexdump {
    font-family: "Roboto Mono", monospace;
    overflow-y: auto;
    white-space: pre;
}

.hexdump .address {
    color: var(--foreground-secondary);
}

.hexdump .hex {
    color: var(--blue);
}

.hexdump .ascii {
    color: var(--cyan);
}

.hexdump .ascii-unprintable {
    color: var(--foreground-secondary);
}

.hexdump .outside-annotation {
    opacity: 0.2;
}

.hexdump .annotation {
    color: var(--violet);
}
