:root {
    /* Solarized colors */
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --very-dark: #00212A;
}

.light-mode {
    --background: var(--base3);
    --background-highlights: var(--base2);
    --foreground: var(--base00);
    --foreground-emphasized: var(--base01);
    --foreground-secondary: var(--base1);
    --accent-color: var(--red);
    --accent-foreground-color: var(--base3);
}

.dark-mode {
    --background: var(--base03);
    --background-highlights: var(--base02);
    --foreground: var(--base0);
    --foreground-emphasized: var(--base1);
    --foreground-secondary: var(--base01);
    --accent-color: var(--cyan);
    --accent-foreground-color: var(--base3);
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 18pt;
    padding: 20px;
    line-height: 1.5;
}

section {
    max-width: 35em;
    margin: 4em auto;
}

h1, h2, h3 {
    color: var(--accent-color);
    font-weight: 100;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 32px;
    margin-top: 1.75em;
    margin-bottom: 0.75em;
}

li::marker {
    color: var(--blue);
}

dd {
    margin-bottom: 1em;
}

pre {
    font-size: 14pt;
    padding: 2em;
    color: var(--foreground-emphasized);
    background-color: var(--background-highlights);
    border-radius: 1em;
}

:not(pre) > code {
    padding: 0 0.3em;
    color: var(--foreground-emphasized);
    background-color: var(--background-highlights);
    border-radius: .3em;
}

a {
    color: var(--blue);
}
