/* Global settings. */
:root {
    /* Solarized colors */
    --base03:    #002b36;
    --base02:    #073642;
    --base01:    #586e75;
    --base00:    #657b83;
    --base0:     #839496;
    --base1:     #93a1a1;
    --base2:     #eee8d5;
    --base3:     #fdf6e3;
    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;
}

.light-mode {
    --background: var(--base3);
    --background-highlights: var(--base2);
    --foreground: var(--base00);
    --foreground-emphasized: var(--base01);
    --foreground-secondary: var(--base1);
    --accent-color: var(--red);
    --accent-foreground-color: var(--base3);
}

.dark-mode {
    --background: var(--base03);
    --background-highlights: var(--base02);
    --foreground: var(--base0);
    --foreground-emphasized: var(--base1);
    --foreground-secondary: var(--base01);
    --accent-color: var(--cyan);
    --accent-foreground-color: var(--base3);
}

body {
    padding: 0;
    margin: 0;
    background: var(--background);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body.presentation-mode {
    font-size: 20px;
}

.content {
    box-sizing: border-box;
    padding: 0 30px 0 0;
    height: 100vh;
    display: flex;
    gap: 30px;
}

.editor-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}

.error-pill {
    display: none;
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    background-color: rgba(220, 50, 47, 0.8);
    padding: 5px 10px 4px 10px;
    border-radius: 999px;
    font-size: 9pt;
    user-select: none;
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */

.menubar-menu {
    color: var(--foreground-emphasized);
    background-color: var(--background-highlights);
    user-select: none;

    display: none;
}

.menubar-menu.menubar-depth-0,
.menubar-entry.menubar-open > .menubar-menu {
    display: flex;
}

.menubar-depth-0 {
    flex-direction: row;
    padding-left: 20px;
    position: relative;
    z-index: 10;
}

.menubar-depth-1,
.menubar-depth-2 {
    flex-direction: column;
    position: absolute;
}

.menubar-depth-1 {
    z-index: 20;
    top: 100%;
    left: 0;
}

.menubar-depth-2 {
    z-index: 30;
    top: 0;
    left: 100%;
}

.menubar-depth-0,
.menubar-depth-1,
.menubar-depth-2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.menubar-entry {
    display: flex;
    align-items: baseline;
    flex-direction: row;

    padding: 7px 25px 7px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.menubar-depth-0 > .menubar-entry {
    padding-right: 15px;
}

.menubar-entry:not(.menubar-entry-suppress-hover):hover,
.menubar-entry.menubar-open,
.menubar-entry.menubar-flash {

    color: var(--base3);
    background-color: var(--blue);
}

.menubar-text {
    flex-grow: 1;
}

.menubar-checkmark {
    display: none;
    visibility: hidden;
    padding-right: 9px;
}

.menubar-any-checked > * > .menubar-checkmark {
    display: block;
}

.menubar-checked > .menubar-checkmark {
    visibility: visible;
}

.menubar-hotkey {
    padding-left: 15px;
    color: var(--foreground-secondary);
}

.menubar-entry:not(.menubar-entry-suppress-hover):hover > .menubar-hotkey {
    color: var(--base2);
}

.menubar-separator {
    height: 0;
    border-top: 1px solid var(--foreground-secondary);
    padding-top: 0;
    padding-bottom: 0;
    margin: 4px 0;
}

.menubar-parent {
    position: relative;
}

.menubar-arrow {
    font-size: 7pt;
    padding-left: 30px;
}

/* ------------------------------------------------------------------------- */

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    padding: 20px 10px 0 10px;
}

.editor-container {
    flex-grow: 1;
    position: relative;
}

.editor {
    /* make sure the editor is exactly the size of its parent regardless of content */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cm-editor {
    height: 100%;
}

#emulator {
    align-self: center;
}

.cm-screenshotEdit {
    color: var(--base3);
    background-color: var(--violet);
    border-radius: 999px;
    padding: 2px 10px 1px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.15em;
    /* center vertically */
    position: relative;
    top: -.2ex;
}

.cm-screenshotLine {
    color: var(--base3);
    background-color: var(--violet);
}

.presentation-mode .cm-screenshotEdit {
    font-size: 15px;
}

.gutter-bytecode {
    margin-left: .8em;
    width: 12em;
}

.gutter-bytecode-address {
    margin-right: 1em;
    color: var(--cyan);
}

.gutter-bytecode-bytes {
    color: var(--blue);
}

.cm-lineNumbers .cm-gutterElement {
    color: var(--foreground-secondary);
    opacity: 0.4;
}

.hover-tooltip {
    color: rgba(256, 256, 256, 0.8);
    background-color: var(--cyan);
    padding: 8px 10px;
    max-width: 15em;
}

.hover-tooltip-header {
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hover-tooltip-instruction {
    font-weight: bold;
    color: #ffffff;
}

.hover-tooltip-modifiers {
    color: rgba(256, 256, 256, 0.5);
}

.hover-tooltip-description {
    margin-bottom: 0.5em;
}

.hover-tooltip-clocks {
    margin-bottom: 0.5em;
}

.hover-tooltip-clocks-label {
    color: #ffffff;
    font-weight: bold;
}

.hover-tooltip-clocks-value {
    /* nothing */
}

/* -------------------------------------------------------------------------------------------- */

.screen-editor-control-panel1,
.screen-editor-control-panel2 {
    position: absolute;
    display: flex;
    gap: 10px;
    font-size: 10pt;
}

.screen-editor-control-panel1 {
    top: -70px;
}

.screen-editor-control-panel2 {
    top: -35px;
}

.screen-editor-button-group {
    display: flex;
    align-items: center;
}

.screen-editor-button-group input[type=radio],
.screen-editor-button-group input[type=checkbox] {
    display: none;
}

.screen-editor-button-group label {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    height: 26px;
    box-sizing: content-box;
    background-color: var(--background-highlights);
    color: var(--base03);
    border-top: 1px solid var(--base03);
    border-right: 1px solid var(--base03);
    border-bottom: 1px solid var(--base03);
    border-left: none;
    cursor: pointer;
    user-select: none;
}

.screen-editor-button-group label .screen-editor-selected-icon {
    display: none;
}

.screen-editor-button-group label:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--base03);
}

.screen-editor-button-group label:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.screen-editor-button-group input[type=radio]:checked + label,
.screen-editor-button-group input[type=checkbox]:checked + label,
.screen-editor-button-group label:active {
    background-color: var(--blue);
    color: var(--base3);
}

.screen-editor-button-group input[type=radio]:checked + label .screen-editor-selected-icon,
.screen-editor-button-group input[type=checkbox]:checked + label .screen-editor-selected-icon,
.screen-editor-button-group label:active .screen-editor-selected-icon {
    display: inline;
}

.screen-editor-button-group input[type=radio]:checked + label .screen-editor-normal-icon,
.screen-editor-button-group input[type=checkbox]:checked + label .screen-editor-normal-icon,
.screen-editor-button-group label:active .screen-editor-normal-icon {
    display: none;
}

.screen-editor-status-panel {
    position: absolute;
    bottom: -30px;
    display: flex;
    gap: 10px;
    font-size: 10pt;
}

.presentation-mode .screen-editor-status-panel {
    font-size: 12.5pt;
}
